{# src/OpenClassRoom/PlatformBundle/Resources/views/Advert/form.html.twig #}

<h3>Formulaire d'annonce</h3>

<div class="well">
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {{ form_errors(form) }}

    {% if form.date is defined %}
    <div class="form-group">
        {{ form_errors(form.date) }}

        <div class="col-sm-10">
            {{ form_row(form.date) }}
        </div>
    </div>
    {% endif %}

    <div class="form-group">
        {{ form_label(form.title, "Titre", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}

        {{ form_errors(form.title) }}

        <div class="col-sm-13">
            {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.content, "Contenu", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}

        {{ form_errors(form.content) }}

        <div class="col-sm-13">
            {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.author, "Auteur", {'label_attr': {'class': 'col-sm-1 control-label'}}) }}

        {{ form_errors(form.author) }}

        <div class="col-sm-13">
            {{ form_widget(form.author, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    {% if form.published is defined %}
        {{ form_row(form.published, {'attr': {'class': 'col-sm-2'}}) }}
    {% endif %}

    {{ form_row(form.image, {'attr': {'class': 'col-sm-12'}}) }}


    <div class="col-sm-13">
        <div>
            {{ form_errors(form.categories) }}

            <div class="col-sm-10">
                {{ form_row(form.categories) }}
            </div>
        </div>

    </div>

    <a href="#" id="add_category" class="btn btn-default">Ajouter une catégorie</a><br /><br />

    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary center-block'}}) }}

    {{ form_rest(form) }}

    {{ form_end(form) }}

</div>



{# Appel de la librairie, JQuery#}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

{# Initialisation du script #}
<script type="text/javascript">
    $(document).ready(function() {

        var $container = $('div#advert_categories');

        // Compteur
        var index = $container.find(':input').length;

        // Ajout d'un nouveau champ à chaque clic sur le lien d'ajout
        $('#add_category').click(function(e) {
            addCategory($container);

            e.preventDefault();
            return false;
        });

        // Dans le cas d'une nouvelle annonce, ajout automatique d'un nouveau champ
        if (index == 0)
        {
            addCategory($container);
        } else {
            // Et s'il y a déjà une catégorie, on ajoute un lien de suppression
            $container.children('div').each(function() {
                addDeleteLink($(this));
            });
        }
        
        // Fonction d'ajout du formulaire d'une catégorie
        function addCategory($container) {

            var template = $container.attr('data-prototype')
                .replace(/__name__label__/g, 'Catégorie n°' + (index+1))
                .replace(/__name__/g, index);

            var $prototype = $(template);

            // Ajout au prototype du lien de suppression
            addDeleteLink($prototype);

            // Ajout du prototype modifié
            $container.append($prototype);

            // Incrémentation de l'index
            index++;
        }


        // Fonction qui permet la suppression d'une catégorie
        function addDeleteLink($prototype) {

            var $deleteLink = $('<a href="#" class="btn btn-danger">Supprimer</a>');

            // Ajout du lien
            $prototype.append($deleteLink);

            // Ajout d'un listener sur le clic pour supprimer la catégorie
            $deleteLink.click(function(e) {
                $prototype.remove();

                e.preventDefault();
                return false;
            });
            
        }
    });
</script>